{% extends "prefabs/base.html" %}
{% load crispy_forms_filters %}
{% block title %} Register User {% endblock title %}
{% block content %}
    {% load static %}
    <section class="login-reg">
        <div class="overlay pt-120">
            <div class="container">
                <div>
                    <div>
                        <div class="center-rows" style="text-align: center;">
                            <h1>Register Account</h1>
                            <h3>Welcome to Very Good Virtual Bank!</h3>
                            <p>Already have an account? <a href="/login/">Login</a></p>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="center-rows" style="text-align: center;">
                                <div style="margin: 10px 10px 10px 10px; border: 2px solid cadetblue; border-radius: 10px; padding: 30px;">
                                    {{ form|crispy }}
                                </div>
                                <button class="" type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

# The HTMLs will have .css files if I have the time to design it. For now, I have added style="" to my divs for prototyping.